# Python
__pycache__/
*.pyc
.env
.env.local
*.log

# Virtual environment
lib/
include/
bin/
share/
.venv/
research-agent/
env/
model/
*.cfg
# Output files

outputs/
reports/

# MacOS files
.DS_Store

# IDE
.vscode/
.idea/

